@font-face {
    font-family: Ritu;
    src: url(/font/Salt\ Debris.otf);
}
*{
    width: 2200px;
    font-size: 50px;
    background-color: aqua;
}

h1{
    background-color: beige;
    font-family: Ritu;
    
    }
h2{
    background-color: darkmagenta;
    color: aliceblue;
    text-align: justify;
}
p{
    background-color: blueviolet;
    text-align: right;
}